<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rstudio.notii_pro" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_stenograph"
        android:label="@string/app_name"
        android:theme="@style/LightTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/icon_stenograph"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/LightTheme_forSetting" >

            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rstudio.notii_pro.MainActivity" />
        </activity>
        <activity
            android:name=".Editnote"
            android:label="@string/title_activity_editnote"
            android:parentActivityName=".MainActivity"
            android:theme="@style/LightTheme" >
        </activity>

        <service
            android:name=".SendNotification"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".ActionReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".StartAlarm"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <!-- android:windowSoftInputMode="adjustResize|stateVisible" -->
        </activity>
        <activity
            android:name=".SyncActivity"
            android:label="@string/title_activity_sync"
            android:parentActivityName=".MainActivity" >
            <!-- <intent-filter> -->
            <!-- <action android:name=".SyncActivityStart" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rstudio.notii_pro.MainActivity" />
        </activity>
    </application>

</manifest>
